html,body,h4,input,p,span{
    margin:0;
    padding:0
}
@mixin clearfix (){
    content: "";
    clear: both;
    display: table;
}
@mixin bannerbuttons () {
    opacity:0.8;
    border-radius: 25px;
    margin: 0;
    padding:10px;
    background-color:$buttoncolor2;
    border: none;   
    font-size: 15px;
}
@mixin bannericons() {
    opacity:0.8;
    float:right;
    margin:0;
    padding:10px;
    border-left:2px solid $buttoncolor2;
    background-color: $buttoncolor2;
    border-radius:25px;
}
@mixin afterborder(){
    content:'';
    border-bottom: 2px solid;
    width: 5%;
    margin: 0 auto;
    margin-top: 10px;
    display: table;
}
@mixin cardstyle(){
    display: flex;
    // border: 1px solid red;
    width:100%;
    margin-top: 30px;
    justify-content: space-between;
}
@mixin learnbutton() {
    background-color: $buttoncolor;
    padding:10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 30px;
    color:$white;
    border: none;
}
@mixin recent-posts-btn($background) {
    font-size: 15px;
    background: $background;
    padding: 3px 7px;
    color: #fff;
    border-radius: 5px;
    float: left;
    margin-top: 6px;
    border: none;
    &:hover{
        cursor: pointer;
    }
 }   

$base-color: #54d154;
$white:#fff;
$buttoncolor:#54d154;
$buttoncolor2:#e5e4e4;
$fontcolor:#828181;

.container{
    position:relative;
    background: url('./images/banner1.png') no-repeat center;
    background-size: cover;
    max-width:100%;
    height:600px;
    .wrapper{
        width:95%;
        margin:0 auto;
        nav{
            width: 100%;
            display: inline-block;
            .menu{
                @include clearfix();
                width: 50%;
                float: left;
                ul{
                    float: left;
                    list-style-type: none;
                    margin-top:10px;
                    padding:0;
                    li{
                        font-size:16px;
                        font-weight:900;
                        padding-right: 15px;
                        color:$white;
                        display: inline-block;
                        a{
                            text-decoration: none;
                            color:$white;
                            &:hover{
                                border-top: 5px solid $buttoncolor;
                            }
                        }
                    }
                }
                .switch{
                    font-weight: 900;
                    font-family: 'Indie Flower', cursive;
                    font-size: 30px;
                    float: right;
                    color:white;
                    cursor: pointer;
                }
            }
            .search{
                margin-top: 10px;
                border-radius: 25px;
                border-right: 1px solid #ddd;    
                float: right;
                background-color: $buttoncolor2;
                input{
                    @include bannerbuttons();
                }
                .icons{
                    @include bannericons();
                    }
                }
            }
        .bannertext{
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50% , -50%);
            text-align: center;
            p{
                font-size:60px;
                font-weight: 900;
                color:white;
            }
            .workwithus{
                padding:15px;
                border-radius: 25px;
                text-align: center;
                font-size: 30px;
                font-weight: 600;
                color:white;
                background-color: $buttoncolor;
                border:none;
            }  
        }
        .scrollbutton{
            position:absolute;
            bottom:1%;
            left: 50%;
            transform: translate(-50% , -50%);
            background-color: $buttoncolor2;
            border-radius:25px;
            .scroller{
               @include bannerbuttons();
            }
            .arrowicon{
                @include bannericons();
            }
        }
    }
}
.whatwedo{
    .wrapper2{
        width:80%;
        margin:0 auto;
        .sectionheading{
            text-align: center;
            padding-top: 30px;
            .heading{
                text-transform: uppercase;
                font-weight: 600;
                color:$fontcolor;
                font-size:20px;
                &:after{
                    @include afterborder();
                }
            }
            p{
                color:$fontcolor;
                padding:10px;
                font-size: 18px;
            }
        }
        .cards{
            @include cardstyle();
            text-align: center;
            .card1{
                padding-bottom: 50px;
                text-align: center;
                width:30%;
                // border: 1px solid yellow;
                .cameracontainer{
                    text-align: center;
                    .camera{
                        border-radius: 30px;
                        padding-bottom: 20px;
                        color:$buttoncolor;
                        padding: 30px;
                        background: #e1f3e1;
                    } 
                }
                .cardcontent{
                    padding-top:30px;
                    color:$fontcolor;
                    h4{
                        font-size: 25px;
                    }
                    button{
                        @include learnbutton();
                    }
                }
            }
        }
    }
}
.gallery{
    height: 748px;
    background-color: $buttoncolor;
    text-align: center;
    padding-top:50px;
    .wrapper{
        width:75%;
        margin:0 auto;
    span{
        // margin-top:50px;
        color: $fontcolor;
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 4px;
        &::after{
            @include afterborder();
        }
    }
    p{
        padding-top: 10px;
        font-size: 20px;
        color:$fontcolor;
    }
    .buttoncontainer{
        border:1px solid $buttoncolor;
        border-radius:25px;
        width:278px;
        height:31px;
        margin:0 auto;
        background-color: $white;
        button{
            // border: 2px solid $buttoncolor;
            border:none;
            text-align: center;
            height:31px;
            font-size: 16px;
            background-color: $white;
            color: $buttoncolor;
            padding:5px 15px 5px 15px;
            &:first-child{
                border-right: 2px solid $buttoncolor;
                border-radius: 25px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child{
                border-left: 2px solid $buttoncolor;
                border-radius: 25px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:hover{
                background-color: #2b9b2b;
                color:$white;
            }
        }
    }
    .imggallery{
        padding-top:60px;
        padding-bottom: 60px;
        .imggallery1{
            padding-top: 20px;
            display: flex;
            justify-content: space-around;
        }
    }
    .viewwork{
        background-color: #2b9b2b;
        color:$white;
        font-size: 20px;
        padding:10px 15px 10px 15px;
        border:none;
        border-radius: 25px;
    }
    
}
}
.testimonials{
    padding-top: 30px;
    height:340px;
    text-align: center;
    .testi{
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $fontcolor;
        &::after{
            @include afterborder();
        }
    }
    .description{
        padding-top: 20px;
        padding-bottom: 20px;
        color: $fontcolor;
        font-size: 18px;
    }
}
.clients{
    color:$fontcolor;
    padding-top:40px;
    background-color: #f2f1f1;
    height:500px;
    width:100%;
    text-align: center;
    .wrapper{
        width: 80%;
        margin: 0 auto;
        .ourclients{
            font-size:20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            &:after{
                @include afterborder();
            }
        }
        .details{
            padding-top: 20px;
            font-size: 18px;
        }
        .clientgallery1{
            padding-top: 60px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .client1{
                width:151px;
                height:68px;
            }
        }
        .seeclients{
            border: none;
            margin-top: 50px;
            background-color: #dddcdc;
            color: $fontcolor;
            font-size: 18px;
            padding: 10px 20px 10px 20px;
            border-radius: 25px;
        }
    }
}
.team{
    padding-top: 40px;
    height: 450px;
    width: 100%;
    background-color: $buttoncolor;
    text-align: center;
    .meetteam{
        text-transform: uppercase;
        color: $fontcolor;
        font-size: 22px;
        letter-spacing: 3px;
        &::after{
            @include afterborder();
        }
    }
    .brief{
        color: $fontcolor;
        size:18px;
        padding-top: 10px;
        letter-spacing: 1px;
    }
    .teammembers{
        margin-top: 60px;
        display:flex;
        justify-content: space-evenly;
        .team1{
            text-align: center;
        .imgcont{
            height: 124px;
            width: 124px;
            background-color: $white;
            border-radius: 100px;
            margin-bottom: 10px;
            img{
                border-radius: 80px;
            }
        }
        .verticalline{
            background-color: #207b20;
            width: 2px;
            height:100px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        span{
            color:$white;
            font-weight: 600;
        }
        .iconcontent{
            text-align: center;
            background-color: #c5e9c5;
            width:84px;
            height:28px;
            border-radius: 25px;
            margin: 0 auto;
            img{
                padding-top: 3px;
            }
        }
    }
    }
}
.workusbutton{
    padding-top: 25px;
    text-align: center;
    height: 70px;
    background-color: #3eba3e;
    .workbutton{
        background-color: #54d154;
        padding: 10px 15px 10px 15px;
        color: $white;
        border-radius: 25px;
        text-transform: uppercase;
        border: none;
        font-size: 20px;
    }
}

.above-footer{
    // height: 350px;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 20px;
    align-content: center;
    background: #363636;
    .wrapper{
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        width:80%;
        .about-us{
            width: 100%;
            text-align: center;
            color: #dddddd;
            max-width: 300px;
            // text-align: center;
            h2{
                padding-bottom: 15px;
                letter-spacing: 2px;
                font-size: 15px;
                &::after{
                    border: 1px solid #fff;
                    @include afterborder();
                }
            }
            p{
                text-align: center;
                word-spacing: 2px;
            }
            .social_icon {
                padding-top: 5px;
                border-radius: 25px;
                background-color: #e6e7e6;
                margin: 0 auto;
                text-align: center;
                margin-top: 30px;
                font-size: 24px;
                width: 85px;
                height: 28px;
            }
        }
    
    .recent-post{
    max-width: 300px;
    width: 100%;
    text-align: center;
    color: #ddd;
    h2{
        padding-bottom: 15px;
        letter-spacing: 2px;
        font-size: 15px;
    &::after{
    @include afterborder();
    border: 1px solid #fff;
    }
    }
    .recent{
        .images{
            margin-top: 10px;
            display: flex;
                img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
                }
    .recent-posts-btn{
    @include recent-posts-btn($base-color);
    }
    .yellow{
    background: yellow;
    }
    .blue{
    background: rgba(33, 33, 214, 0.801);
    }
    .orange{
    background: rgb(255, 72, 0);
    }
    .content{
    margin-top: 4px;
    }
    }
    }
    }

    .contact-us{
    max-width: 300px;
    width: 100%;
    text-align: center;
    color: #ddd;
    h2{
        letter-spacing: 2px;
        font-size: 15px;
    &::after{
    @include afterborder();
    border: 1px solid #fff;
    }
    }
    p{
    font-size: 15px;
    max-width: 223px;
    width: 100%;
    margin: 0 auto;
    }
    form{
    margin-top: 20px;
    // height: 100px;
    input{
    width: 100%;
    margin-top: 2px;
    border: none;
    padding: 7px;
    border-radius: 3px;
    background: rgba(119, 117, 117, 0.185);
    color: #fff;
    }
    textarea{
    width: 100%;
    margin-top: 2px;
    border: none;
    padding: 7px;
    border-radius: 3px;
    background: rgba(119, 117, 117, 0.185);
    color: #fff;
    resize: none;
    }
    button{
    // @include button(initial, 10px 0, #fff, $base-color, 2px 0);
    border: none;
    padding:10px;
    color: $white;
    background-color: $buttoncolor;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 314px;
    }
    }
    }
    }
    }

.lowerfooter{
    background-color: #222222;
    height: 150px;
    text-align: center;
    padding-top: 15px;
    .asseenon{
        color:#111111;
        font-size:20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        &::after{
            @include afterborder();
        }
    }
    .wrapper{
        width: 80%;
        margin: 0 auto;
    .seenon{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
}
}
    