* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --color-black:#000; }

header {
  background-color: var(--color-black);
  padding: 12px;
  z-index: 9999;
  position: fixed;
  max-width: 100%;
  width: 100%; }
  header .wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    header .wrapper ul li {
      color: #fff;
      font-size: 15px; }
      header .wrapper ul li a {
        color: #fff; }
      header .wrapper ul li button {
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 900;
        font-size: 18px;
        background-color: #e00076;
        border-radius: 0;
        border: none; }

.banner {
  padding-top: 60px;
  position: relative;
  background: url("./images/Top_Banner_Image.jpg") no-repeat bottom;
  background-size: cover;
  height: 520px;
  width: 100%; }
  .banner .wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    .banner .wrapper .bannercontent {
      width: 55%;
      padding: 30px; }
      .banner .wrapper .bannercontent p {
        font-size: 40px;
        color: #fff;
        text-align: start; }
        .banner .wrapper .bannercontent p b {
          font-weight: 900; }
    .banner .wrapper .formdiv {
      padding-top: 40px;
      width: 35%;
      text-align: center; }
      .banner .wrapper .formdiv input {
        background: none;
        border-radius: 0;
        color: white; }
      .banner .wrapper .formdiv h4 {
        color: #fff; }
      .banner .wrapper .formdiv form {
        padding-top: 20px; }
        .banner .wrapper .formdiv form input {
          font-size: 12px; }
          .banner .wrapper .formdiv form input::placeholder {
            color: #fff; }
        .banner .wrapper .formdiv form #requirements {
          line-height: 4; }
        .banner .wrapper .formdiv form .btn {
          background: none;
          border: 1px solid #fff; }
  .banner .awards {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 90%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 14px 1px #666; }

.services {
  margin-top: 60px;
  text-align: center; }
  .services .row {
    padding: 30px 50px 10px 50px; }

.clients {
  text-align: center; }
  .clients .container {
    width: 90%;
    margin: 0 auto; }
    .clients .container .col-lg-2 {
      padding: 0; }
      .clients .container .col-lg-2 img {
        width: 100%; }
    .clients .container h2 {
      padding-bottom: 10px;
      font-size: 45px;
      color: #666; }
      .clients .container h2:after {
        content: '';
        width: 5%;
        margin: 0 auto;
        border: 3px solid #e00076;
        border-radius: 5px;
        display: table;
        margin-top: 10px; }

.expertise {
  background: url("./images/dc517ded-b5d527ce-expertise-bg.jpg") center no-repeat;
  width: 100%;
  background-size: cover;
  height: 500px;
  color: #fff; }
  .expertise .wrapper {
    width: 80%;
    margin: 0 auto; }
    .expertise .wrapper h3 {
      text-align: center;
      font-size: 40px;
      padding-top: 60px;
      text-transform: capitalize; }
      .expertise .wrapper h3:after {
        content: '';
        width: 5%;
        margin: 0 auto;
        border: 3px solid #e00076;
        border-radius: 5px;
        display: table;
        margin-top: 10px; }
    .expertise .wrapper p {
      text-align: center;
      padding-top: 20px;
      font-size: 19px; }
    .expertise .wrapper .list {
      padding-top: 50px;
      display: flex; }
      .expertise .wrapper .list .list1 {
        width: 50%;
        font-size: 20px; }
        .expertise .wrapper .list .list1 ul {
          list-style-type: none; }
          .expertise .wrapper .list .list1 ul li img {
            margin-right: 20px; }
      .expertise .wrapper .list .list2 {
        width: 50%;
        font-size: 20px; }
        .expertise .wrapper .list .list2 ul {
          list-style-type: none; }
          .expertise .wrapper .list .list2 ul li img {
            margin-right: 20px; }

.ourpractices {
  background-color: #f9f9f9;
  padding-bottom: 30px; }
  .ourpractices .container {
    display: flex;
    justify-content: space-between;
    width: 80%; }
    .ourpractices .container .engineeringpractice {
      width: 48%; }
      .ourpractices .container .engineeringpractice h2 {
        color: #666;
        padding-bottom: 20px;
        font-size: 40px;
        padding-top: 30px; }
        .ourpractices .container .engineeringpractice h2:after {
          margin-top: 20px;
          content: '';
          border: 3px solid #e00076;
          border-radius: 5px;
          display: table;
          width: 15%; }
      .ourpractices .container .engineeringpractice ul li {
        list-style-type: none;
        line-height: 4; }
        .ourpractices .container .engineeringpractice ul li img {
          margin-right: 30px; }
    .ourpractices .container .agilepractice {
      width: 45%; }
      .ourpractices .container .agilepractice h2 {
        color: #666;
        padding-bottom: 20px;
        font-size: 40px;
        padding-top: 30px; }
        .ourpractices .container .agilepractice h2:after {
          margin-top: 20px;
          content: '';
          border: 3px solid #e00076;
          border-radius: 5px;
          display: table;
          width: 15%; }
      .ourpractices .container .agilepractice ul li {
        list-style-type: none;
        line-height: 4; }
        .ourpractices .container .agilepractice ul li img {
          margin-right: 30px; }

.talktoexperts {
  background: url("./images/1b14e866-talk-bg.jpg") no-repeat;
  background-size: cover;
  height: 240px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 50px; }
  .talktoexperts h4 {
    font-size: 40px; }
  .talktoexperts button {
    font-size: 23px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    background: none;
    border: 1px solid #fff; }

.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
  .testimonials h4 {
    font-size: 35px;
    color: #666; }
    .testimonials h4::after {
      content: '';
      width: 5%;
      margin: 0 auto;
      border: 3px solid #e00076;
      border-radius: 5px;
      display: table;
      margin-top: 10px; }
  .testimonials .wrapper {
    width: 80%;
    margin: 0 auto; }
    .testimonials .wrapper .spokes {
      padding-top: 40px;
      display: flex;
      justify-content: space-evenly;
      text-align: left; }
      .testimonials .wrapper .spokes .dan {
        display: flex;
        align-items: center; }
      .testimonials .wrapper .spokes .name {
        color: #e00076; }
      .testimonials .wrapper .spokes .doran {
        display: flex;
        align-items: center; }
      .testimonials .wrapper .spokes .david {
        display: flex;
        align-items: center; }
      .testimonials .wrapper .spokes .spokescontent {
        margin-left: 15px; }
      .testimonials .wrapper .spokes img {
        width: 70px;
        height: 70px;
        max-width: 100%;
        border-radius: 40px; }

.ourexpertise {
  background-color: #f5f4f0;
  height: 175px;
  text-align: center;
  padding: 50px;
  color: #666; }
  .ourexpertise h5 {
    font-size: 25px; }
  .ourexpertise p {
    font-size: 14px;
    padding-top: 10px;
    text-align: left; }

.footform {
  background: url("./images/5ea19cfc-form-bg.jpg") center no-repeat;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  height: 630px; }
  .footform span {
    font-size: 40px;
    color: #fff; }
    .footform span:after {
      content: '';
      width: 5%;
      margin: 0 auto;
      border: 3px solid #e00076;
      border-radius: 5px;
      display: table;
      margin-top: 20px; }
  .footform .container {
    width: 50%; }
    .footform .container input::placeholder {
      color: #666; }
    .footform .container #requirements {
      line-height: 4; }
    .footform .container button {
      background-color: #e00076;
      font-size: 35px;
      padding: 10px 50px 10px 50px; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  header .wrapper .navbar {
    display: none; }

  .banner .wrapper .bannercontent p {
    padding-top: 80px;
    font-size: 25px;
    color: #fff; }

  .expertise .wrapper h3 {
    padding-top: 40px; }
  .expertise .wrapper .list {
    padding-top: 30px; }
    .expertise .wrapper .list .list1 {
      font-size: 15px; }
    .expertise .wrapper .list .list2 {
      font-size: 15px;
      margin-left: 30px; }

  .footform .container button {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
