* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-black:#000;
}
$black:#000;
$white:#fff;
$font15:15px;
$pinkbutton:#e00076;
$headingcolor:#666;
@mixin buttonexpert {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 900;
    font-size:$font15+3px;
    background-color:$pinkbutton;
    border-radius:0;
    border:none;
 }
@mixin wrapper{
    width:95%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}
@mixin afterborder(){
    content: '';
    width:5%;
    margin: 0 auto;
    border: 3px solid $pinkbutton;
    border-radius: 5px;
    display: table;
}
header{
    background-color: var(--color-black);
    // opacity: 0.8;
    padding:12px;
    z-index: 9999;
    position: fixed;
    max-width: 100%;
    width: 100%;
    .wrapper{
        @include wrapper();
        ul{
            li{
                color: $white;
                font-size:$font15;
                a{
                    color: $white;
                }
                button{
                    @include buttonexpert();
                }
            }
        }
    }
}
.banner{
    padding-top:60px;
    position: relative;
    background: url('./images/Top_Banner_Image.jpg') no-repeat bottom;
    background-size: cover;
    height:520px;
    width:100%;
    .wrapper{
        @include wrapper();
        .bannercontent{
            width: 55%;
            padding:30px;
            p{
                font-size: 40px;
                color: $white;
                text-align: start;
                b{
                 font-weight: 900;   
                }
            }
        }
        .formdiv{
            padding-top: 40px;
            width: 35%;
            text-align: center;
            input{
                background: none;
                border-radius: 0;
                color: white;
            }
            h4{
                color: $white;
            }
            form{
                padding-top: 20px;
                input{
                    font-size: 12px;
                    &::placeholder{
                        color: $white;
                    }
                }
                #requirements{
                    line-height: 4;
                }
                .btn{
                    background: none;
                    border: 1px solid $white;
                }
            }
        }
    }
    .awards{
        padding: 20px;
        background-color: $white;
        text-align: center;
        width: 70%;
        position: absolute;
        left:15%;
        top: 90%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 14px 1px #666;
    }
}
.services{
    margin-top: 60px;
    text-align: center;
    .row{
        padding: 30px 50px 10px 50px;
    }
}
.clients{
    text-align: center;
    .container{
        width: 90%;
        margin: 0 auto;
        .col-lg-2{
            padding: 0;
            img{
                width: 100%;
            }
        }
    h2{
        padding-bottom: 10px;
        font-size: $font15+30px;
        color:$headingcolor;
        &:after{
            @include afterborder();
            margin-top:10px;
        }
    }
}
}
.expertise{
    background: url('./images/dc517ded-b5d527ce-expertise-bg.jpg') center no-repeat;
    width:100%;
    background-size: cover;
    height: 500px;
    color: $white;
    .wrapper{
        width: 80%;
        margin: 0 auto;
    h3{
        text-align: center;
        font-size: 40px;
        padding-top:60px;
        text-transform: capitalize;
        &:after{
            @include afterborder();
            margin-top:10px;
        }
    }
    p{
        text-align: center;
        padding-top:20px;
        font-size: $font15+4px;
    }
    .list{
        padding-top: 50px;
        display: flex;
        .list1{
            width:50%;
            font-size: $font15+5px;
            ul{
                list-style-type:none; 
                li{
                    img{
                        margin-right: 20px;
                    }
                }
            }
        }
        .list2{
            width:50%;
            font-size: $font15+5px;
            ul{
                list-style-type: none;
                li{
                    img{
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}
}
.ourpractices{
    background-color: #f9f9f9;
    padding-bottom: 30px;
    .container{
        display:flex;
        justify-content: space-between;
        width:80%;
        .engineeringpractice{
            width: 48%;
            h2{
                color:$headingcolor;
                padding-bottom: 20px;
                font-size: $font15+25px;
                padding-top: 30px;
                &:after{
                    margin-top:20px;
                    content: '';
                    border: 3px solid $pinkbutton;
                    border-radius: 5px;
                    display: table;
                    width: 15%;
                }
            }
            ul{
                li{
                    list-style-type: none;
                    line-height: 4;
                    img{
                        margin-right: 30px;
                    }
                }
            }
        }
        .agilepractice{
            width: 45%;
            h2{
                color:$headingcolor;
                padding-bottom: 20px;
                font-size: $font15+25px;
                padding-top: 30px;
                &:after{
                    margin-top:20px;
                    content: '';
                    border: 3px solid $pinkbutton;
                    border-radius: 5px;
                    display: table;
                    width: 15%;
                }
            }
            ul{
                li{
                    list-style-type: none;
                    line-height: 4;
                    img{
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}
.talktoexperts{
    background: url('./images/1b14e866-talk-bg.jpg') no-repeat;
    background-size: cover;
    height:240px;
    width:100%;
    text-align: center;
    color:$white;
    padding-top:50px;
    h4{
        font-size: $font15+25px;
    }
    button{
        font-size: $font15+8px;
        margin-top: 20px;
        padding:10px 20px 10px 20px;
        color:$white;
        background: none;
        border: 1px solid $white;
    }
}
.testimonials{
    padding-top: 30px;
    padding-bottom:30px;
    text-align: center;
    h4{
        font-size: $font15+20px;
        color: $headingcolor;
        &::after{
            @include afterborder();
            margin-top:10px;
        }
    }
    .wrapper{
        width:80%;
        margin: 0 auto;
    .spokes{
        padding-top: 40px;
        display: flex;
        justify-content: space-evenly;
        text-align: left;
        .dan{
            display: flex;
            align-items: center;
        }
        .name{
            color: $pinkbutton;
        }  
        .doran{
            display: flex;
            align-items: center;
        }
        .david{
            display: flex;
            align-items: center;
        }
        .spokescontent{
            margin-left: 15px;
        }
        img{
            width: 70px;
            height:70px;
            max-width: 100%;
            border-radius: 40px;
        }
    }
}
}
.ourexpertise{
    background-color: #f5f4f0;
    height:175px;
    text-align: center;
    padding:50px;
    color:$headingcolor;
    h5{
        font-size: $font15+10px;
    }
    p{
        font-size: 14px;
        padding-top: 10px;
        text-align: left;
    }
}
.footform{
    background: url('./images/5ea19cfc-form-bg.jpg') center no-repeat;
    background-size: cover;
    padding-top:40px;
    text-align: center;
    height:630px;
    span{
        font-size: $font15+25px;
        color: $white;
        &:after{
            @include afterborder();
            margin-top: 20px;
        }
    }
    .container{
        width: 50%;
        input{
            &::placeholder{
                color: $headingcolor;
            }
        }
        #requirements{
            line-height: 4;
        }
        button{
            background-color: $pinkbutton;
            font-size: $font15+20px;
            padding:10px 50px 10px 50px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header{
        .wrapper{
            .navbar{
                display:none;
            }
        }
    }
    .banner{
        .wrapper{
            .bannercontent{
                p{
                    padding-top: 80px;
                    font-size: 25px;
                    color: $white;
                }
            }
        }
    }
    .expertise{
        .wrapper{
            h3{
                padding-top: 40px;
            }
            .list{
                padding-top: 30px;
                // font-size: 10px;
                .list1{
                    font-size: 15px;
                }
                .list2{
                    font-size: 15px;
                    margin-left: 30px;
                }
            }
        }
        
    }
    .ourpractices{
    }
    .footform{
        .container{
            button{
                font-size: 20px;
            }
        }
    }
  }

